<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Создание пользователя</title>
</head>
<body>
<form action="#" th:action="@{/users/new}" th:object="${user}" method="post">
    <label for="name">Имя</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Введите имя">
    <label for="surname">Фамилия</label>
    <input type="text" th:field="*{surname}" id="surname" placeholder="Введите фамилию">
    <input type="submit" value="Создать">
</form>
<a href="http://localhost:8080">⬅</a>
</body>
</html>
